@charset "UTF-8";

body{
    background-color: white;
    Font-family: Arial, Helvetica, sans-serif;
}
h1
{
    color: (green);
}
h1#principal {
    text-aling: center;
    color: black;
    background-color:(green);
}


h2#impar {
    font-size: 16pt
    color: red
    font-family: Arial
}
h2#par {
    font-size: 20pt
    color: blue
    font-family: Verdana
}
