@charset "UTF-8";

body{
    background-color: White;
    Font-family: Arial, Helvetica, sans-serif;
}
h1
{
    color: Black;
}
h1#principal {
    text-aling: center;
    color: black;
    background-color:Pink;
}


p#impar {
    font-size: 16pt
    color: red;
    font-family: Arial;
    background-color:Red;
}
p#par {
    font-size: 20pt
    color: blue;
    font-family: Verdana;
    background-color:blue;
}
